*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, white,rgb(42, 20, 53));
}

.container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:450px;
    padding: 40px;
    background-color: #e0d6e6;
}

.heading{
    margin: 5px 0px;
    text-align: center;
}


.pass{
   
    padding-top: 8px;
    padding-bottom: 8px;
}

.generator{
    color: white;
    background-color: black;
    text-align: center;
    height: 35px;
    width: 200px;
}

.password{
    padding: 5px 2px;
    margin: 7px;
    width: 170px;
    color: black;
    font-size: .9rem;
}

.password:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.newpassword{
    padding: 5px 2px;
    margin: 7px;
    width: 170px;
    display: none; /* Initially hide this button */
}

.newpassword:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.1);
}

